* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-content: center;
    background-color: #320845;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin:.5rem;
    flex: 2;
    display: inline-block;
    font-family: 'Lobster Two', cursive;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: rgb(14, 3, 16);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
.myTbl {
    border-collapse: collapse;
    width:80%;
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

    .myTbl td {
        border: 3px solid rgb(84, 1, 99);
    }
h1{
    font-family: 'Lobster Two', cursive;
    text-decoration: underline;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
footer{
    max-height:20%;
    width:10%;
    font-size: 2rem;
    display: contents;
    background-color: #25104c;
   
 }
 .socials{
     list-style: none;
     display: flex;
     align-items: right;
     justify-content: left;
 }
 .socials li{
     margin: 0 2%;
 }
 input{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:white;
    font-size: 16px;
    background: transparent;
    width: 25px;
    height: 25px;
    padding:10px;
    outline: none;
    border:solid 3px #9A86FD;
    border-radius: 35px;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 #9A86FD;
 }
 input::placeholder{
    color:#efefef;
    opacity: 0;
    transition:opacity 150ms ease-out;
 }
 input:focus::placeholder{
    opacity: 1;
 }
 input:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 #1d79cf;
 }
 input:focus,
 input:not(:placeholder-shown){
    width:200px;

 }
 
 .socials a{
     text-decoration: none;
     color: rgb(177, 136, 136);
 }
 img {
    max-width: 100%;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
